body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}


header {
    padding: 20px;
}


.navbar {
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: left;
    gap: 100px;
    border-bottom: 2px solid black;  
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.hero-text {
    flex: 1;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}


img {
    border-radius: 5px 5px 0 0;
}


.card:hover {
    transform: scale(1.05);
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.hidden {
    display: none;
}


.container {
    padding: 2px 16px;
}


.footer {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: lightblue;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.skill-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}
